* {
    bg:          #212121b3;
    bg-alt:      #191919;
    bg-darker:   #111111;
    bg-selected: #353535;
    fg:          #d4d4d4;
    fg-alt:      #60605f;
    accent:      #e08b0b;
    green:       #c3e88d;
    purple:      #be8bdb;
    blue:        #82aaff;

    border-color: var(accent);
    background-color: transparent;
    text-color: var(fg);
}

configuration {
    show-icons: true;
    display-drun: "";
    drun-display-format: "{name}";
}

window {
    width: 480px;
    padding: 12px;
    border: 2px;
    border-color: var(accent);
    border-radius: 28px;
    background-color: var(bg);
}

mainbox {
    spacing: 12px;
    border-color: var(accent);
}

inputbar {
    children: [prompt, entry];
    padding: 10px 14px;
    border-radius: 16px 16px 0 0;
    background-color: var(bg-alt);
}

prompt {
    margin: 0 8px 0 0;
    text-color: var(accent);
}

entry {
    placeholder: "Search...";
    placeholder-color: var(fg-alt);
    cursor-color: var(accent);
    text-color: var(fg);
}

separator {
    border-color: var(accent);
}

listbox {
    lines: 8;
}

listview {
    lines: 8;
    spacing: 4px;
    fixed-height: true;
    border-color: var(accent);
    background-color: var(bg-alt);
    border-radius: 0 0 16px 16px;
    padding: 8px;
}

element {
    padding: 4px 12px;
    border-radius: 8px 0px 0px 8px;
    background-color: var(bg-darker);
}

element.normal.normal {
    background-color: var(bg-darker);
    text-color: var(fg);
}

element.normal.active {
    background-color: var(bg-darker);
    text-color: var(fg);
}

element.alternate.normal {
    background-color: var(bg-darker);
    text-color: var(fg);
}

element.alternate.active {
    background-color: var(bg-darker);
    text-color: var(fg);
}

element selected, element.normal.urgent, element selected.normal {
    background-color: var(bg-selected);
    text-color: var(accent);
    border: 0px 4px 0px 0px;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    vertical-align: 0.5;
}

element-icon {
    background-color: inherit;
    size: 22px;
    margin: 0 8px 0 0;
}

scrollbar {
    handle-color: var(accent);
    background-color: var(bg-darker);
    border-radius: 0px 8px 8px 0px;
}
